@import "tailwindcss";

:root {
  --font-family: "SF Pro", sans-serif;
  --second-family: "Plus Jakarta Sans", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Poppins", sans-serif;
}

body {
  background-color: #fafafa;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #111827;
}

button {
  cursor: pointer;
}
